@media (max-width: 1199.98px){
    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .info-box .iconOuter {
        width: 70px;
        height: 70px;
        padding: 12px;
    }
    .info-box h5 {
        font-size: 18px;
    }
}
@media (max-width: 991.98px){
    .navbar-nav .nav-link::before, .navbar-nav .nav-link::after{
        display: none;
    }
    .navbar-nav .nav-link {
        padding: 8px 0;
        transition: ease-in-out .3s;
        line-height: normal;
    }
    .navbar-nav .nav-link:hover, .navbar-nav .nav-link:active, .navbar-nav .nav-link.active{
        letter-spacing: 1px;
        color: var(--brand);
    }
    
    .hero-slider .owl-prev{
        left: 10px;
    }
    .hero-slider .owl-next{
        right: 10px;
    }
    .slide {
        min-height: 100vh;
    }
    section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .aboutImgOUter {
        max-height: 400px;
        overflow: hidden;
    }
    .info-box h5 {
        font-size: 16px;
        margin-bottom: 4px;
    }
    .info-box .iconOuter {
        width: 60px;
        height: 60px;
        padding: 10px;
    }
    .info-box p {
        font-size: 14px;
    }
    .projects-slider .owl-item.active .project .content {
        right: 20px;
        bottom: 20px;
        border-radius: 24px 0 24px 0;
        width: calc(100% - 40px);
    }
    .projects-slider .owl-item.active .project .imgOuter img {
        filter: none;
    }
    .projects-slider .project {
        height: 400px;
        border-radius: 24px !important;
    }
}
@media (max-width: 575.98px){
    .btn {
        padding: 6px 18px;
    }  
    .projects-slider .project {
        height: 280px;
    }  
    
    .projects-slider .owl-item.active .project .content {
        right: 10px;
        bottom: 10px;
        border-radius: 10px;
        width: calc(100% - 20px);
    }
    .project .content .sliderTitle {
        font-size: 16px;
    }
    .project .subTitle {
        font-size: 14px;
    }
    .project .subTitle::before {
        width: 16px;
        margin-right: 6px;
    }
    .projects-slider .project {
        border-radius: 10px !important;
    }
}