@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --brand: #F77100;
    --brand2: #015095;
    --dark: #092032;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    
}

body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-3,.display-4 {
    font-weight: 700;
    color: var(--dark);
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: var(--brand);
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-brand {
    color: var(--brand) !important;
}

.hero-slider {
    overflow: hidden;
}

.hero-slider .owl-prev,
.hero-slider .owl-next{
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    place-items: center;
    color: #fff !important;
    border-radius: 100px;
    line-height: 0;
    border-radius: 100px !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 12px !important;
    transition: ease-in-out 0.3s;
    margin-top: -30px !important;
}

.hero-slider .owl-prev{
    left: -100px;
}
.hero-slider .owl-next{
    right: -100px;
}

.hero-slider:hover .owl-prev{
    left: 10px;
}
.hero-slider:hover .owl-next{
    right: 10px;
}

.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
    background-color: var(--brand) !important; 
}

.owl-dot.active span{
    background-color: var(--brand) !important;
}


 /* slide */
 .slide {
     min-height: 500px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
}

.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg_banner2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg_banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide .display-3 {
    text-transform: uppercase;
    color: #fff;
}

/* navbar */
.top-nav {
    background-color: var(--brand);
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}

.navbar {
    box-shadow: var(--shadow);
    padding: 16px 0;
    transition: ease-in-out .3s;
}
.navbar.sticky {
    padding: 8px 0;
    background: rgba(255,255,255, .7) !important;
    backdrop-filter: blur(5px);
    top: -1px;
}
.navbar .btn {
    transition: ease-in-out .3s;
}
.navbar.sticky .btn {
    padding: 6px 26px;
    font-size: 15px;
}
.navbar.sticky .navbar-brand {
    width: 120px;
}

.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #fff;
    color: var(--brand);
}
.conditions-section{
    margin: 20px 0;
}
.conditions-section a{
   color: #fff;
   margin: 0 10px;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
    line-height: normal;
    padding: 8px 16px;
    transition: ease-in-out .3s;
}
.navbar .navbar-nav  .nav-item{
position: relative;
}
.navbar .navbar-nav .nav-link::before, .navbar .navbar-nav .nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--brand);
    position: absolute;
    bottom: 0;
    transition: ease-in-out .3s ;
}
.navbar .navbar-nav .nav-link::before{
    left: 0;
    margin-left: 0;
}
.navbar .navbar-nav .nav-link::after{
    right: 0;
    margin-right: 0;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--brand);
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}
.navbar .navbar-nav .nav-link.active::before, .navbar .navbar-nav .nav-link.active::after    {
    color: var(--brand);
    width: 50%;
}

.navbar-brand {
    width: 140px;
    transition: ease-in-out .3s;
}
.offcanvas-brand{
    width: 100px;
}
.btn-close{
    font-size: 14px;
    opacity: 1;
}

.btn {
    padding: 8px 26px;
}

.btn-brand {
    border-color: var(--brand);
    background-color: var(--brand);
    color: #fff;
    transition: ease-in-out .3s;
}
.btnStyle1{
    border-color: var(--brand2);
    background-color: var(--brand2);
    color: #fff;
    transition: ease-in-out .3s;
}
.btnStyle1:hover{
    border-color: var(--brand);
    background-color: var(--brand);
    color: #fff;
}
.btn-brand:hover {
    background-color: var(--brand2);
    border-color: var(--brand2);
    color: #fff;
}

.intro {margin-bottom: 36px;
text-align: center;}

.intro p {
    max-width: 500px;
}
.intro h6{
    color: var(--brand);
    font-weight: 400;
    text-transform: uppercase;
}

.intro h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.aboutContent .info-box:nth-child(even) .row .col-auto{
    order: 2;
}
.aboutContent .info-box:nth-child(even) .row .col{
    order: 1;
    text-align: right;
}
.info-box {
    align-items: center;
    display: flex;
    cursor: pointer;
    border: 1px solid #f3f3f3;
    transition: ease-in-out .3s;
}
.info-box .iconOuter {
    width: 80px;
    height: 80px;
    flex: 0 0 auto;
    padding: 16px;
    border-radius: 12px;
    background-color: #F77100;
    transition: ease-in-out .3s;
}
.info-box h5 {
    transition: ease-in-out .3s;
}
.info-box p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.info-box .iconOuter img {
    filter: brightness(1000);
}
.info-box:hover {
    border-color: #F77100;
}
.info-box:hover h5 {
    color: #F77100;
}
.info-box:hover .iconOuter {
    border-radius: 50px;
}

#milestone {
    background: linear-gradient(rgba(255, 77, 41, 0.85), rgba(255, 77, 41, 0.85)), url(../img/bg_banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#milestone h1,
#milestone p {
    color: #fff;
}

.service {
    padding: 24px;
    background-color: #fff;
    box-shadow: var(--shadow);
    position: relative;
    border: 5px solid #0150950d;
    transition: ease-in-out .3s;
}
.backAnimation {
    position: absolute;
    top: 0;
    left: 0;
    fill: #023F92;
    width: 50vmax;
    z-index: 1;
    transform-origin: 50% 50%;
    animation: move 10s ease-in-out infinite;
    opacity:0;
    /* transition: ease-in-out 10s; */
}
@keyframes move {
  0%   { transform: scale(1)   translate(10px, -300px); }
  78%  { transform: scale(1.3) translate(200px, 150px) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(-100px, 150px) rotate(-60deg); }
  100% { transform: scale(1)   translate(10px, -300px); }
}
.service:hover .backAnimation {
    opacity: 1;
}
.service::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50%;
    margin: auto;
    border-radius: 100%;
    background-color: #0150950d;
    transition: ease-in-out .3s;
    z-index: 0;
}
.service:hover::before {
    height:100%;
}

.service h5 {
    margin-top: 24px;
    margin-bottom: 14px;
    transition: ease-in-out .3s;
}
.serviceIcon {
    width: 90px;
    height: 90px;
    position: relative;
    border: 2px solid var(--brand2);
    transition: ease-in-out .3s;
}

.service:hover .serviceIcon {
    background-color: var(--brand2);
}

.service:hover .serviceIcon img{
    filter: brightness(1000);
}
.serviceIcon::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/icon/serviceIconBg.svg);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    margin: auto;
    transition: ease-out .4s;
}
.service:hover h5 {
    color: #015095;
}
.service:hover .serviceIcon::before{
    width: 120%;
    animation: rotate-animation 10s infinite linear;
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.project {
    position: relative;
    overflow: hidden;
    z-index: 2;
    height: 500px;
    cursor: pointer;
}
.imgOuter img {
    object-fit: cover;
    object-position: top center;
    filter: grayscale(1);
    transition: ease-in-out .3s;
}
.project:hover .imgOuter img {
    filter: none;
}
.project .subTitle {
    font-weight: 400;
}

.project .subTitle::before {
    content: "";
    height: 2px;
    width: 30px;
    display: inline-block;
    background: var(--brand);
    vertical-align: middle;
    margin-right: 10px;
}
.project .content {
    position: absolute;
    right: -100%;
    bottom: -100%;
    z-index: 2;
    border-radius: 32px 0;
    width: 80%;
    background-color: var(--brand2);
    transition: ease-in-out .3s;
}
.project .content .sliderTitle{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: normal;
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.project:hover .content {
    right: 20px;
    bottom: 20px;
}
.project h2,
.project h6 {
    color: #fff;
}
.projects-slider .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px !important;
}
.projects-slider .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 0;
    background: #fff;
    border: 2px solid #F77100;
    transition: ease-in-out .3s;
}
.projects-slider .owl-dots .owl-dot.active span {
    width: 36px;
    background-color: #F77100;
}
.projects-slider .owl-dots .owl-dot:hover span {
    background-color: #F77100;
}
.projects-slider .owl-nav .owl-prev, .projects-slider .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0;
    background-color: #0000006b !important;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto 0;
    border: 2px solid #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .3s;
    outline: none;
}
.projects-slider .owl-nav .owl-prev:hover, .projects-slider .owl-nav .owl-next:hover {
    border-color: var(--brand2) !important;
    background-color: #000000a8 !important;
}
.projects-slider .owl-nav .owl-prev {
    left: -25px;
}
.projects-slider .owl-nav .owl-next {
    right: -25px;
}
.team-member {
    text-align: center;
}

.team-member .image{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.team-member .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10%;
    background-color: rgba(255, 77, 41, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member h5 {
    margin-top: 16px;
    margin-bottom: 4px;
}

.team-member .social-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member .social-icons a {
    width: 40px;
    height: 40px;
}

.team-member:hover .social-icons {
    top: 50%;
    opacity: 1;
}

.team-member:hover .overlay {
    top: 0%;
    opacity: 1;
}

#reviews {

    background: linear-gradient(-90deg, rgba(8, 32, 50, 0.8), rgba(8, 32, 50, 0.8)), url(../img/bg_banner1.jpg), #082032;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review {
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 15px;
    max-width: 768px;
    margin: auto;
}

.review .bxs-quote-alt-left {
    font-size: 120px;
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.review img {
    width: 80px !important;
    height: 80px;
    border-radius: 100px;
    margin: auto;
}

.review h5 {
    margin-top: 16px;
    margin-bottom: 4px;
    color: #fff;
}

.review h3 {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
}

.review small {
    color: var(--brand);
}

.review .stars {
    color: var(--brand);
}

.blog-post {
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.blog-post .content {
    padding: 32px;
}

.blog-post a {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--brand);
    padding: 2px 12px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}

.blog-post h5 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-post small {
    text-transform: uppercase;
    color: var(--brand);
    text-decoration: underline;
}

footer {
    background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)), url(../img/bg_banner1.jpg), #082032;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}

footer .navbar-brand {
    color: #fff;
}

footer p {
    color: #ADB3B9;
}

footer .social-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.loader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
}


input.form-control {
    border-color: transparent;
    height: 44px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.04);;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--brand);
}

.serviceSection{
    background-color: #0150950d;
}